* {
  font-family: "Arial Rounded MT Bold", sans-serif;
  box-sizing: border-box;
}

body {
  background: #f6cbd6;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  transition: 0.5s;
}

body.sad {
  filter: grayscale(40%) brightness(0.8);
  background: #6b6b6b;
}

.card {
  background: #fff;
  padding: 40px;
  border-radius: 20px;
  text-align: center;
  width: 420px;
  position: relative;
}

.icon {
  width: 80px;
  margin-bottom: 15px;
}

h1 {
  margin-bottom: 30px;
}

.buttons {
  display: flex;
  justify-content: space-around;
}

button {
  padding: 12px 30px;
  border-radius: 25px;
  border: none;
  font-size: 18px;
  cursor: pointer;
  transition: 0.3s;
}

#yesBtn {
  background: #ff5a8a;
  color: white;
}

#noBtn {
  background: #e0e0e0;
}

#noBtn:hover {
  transform: scale(1.1);
}

#bubble {
  width: 140px;
  position: absolute;
  bottom: 120px;
  right: -40px;
  display: none;
}

#bubble-text {
  position: absolute;
  bottom: 155px;
  right: -20px;
  width: 120px;
  font-size: 14px;
  display: none;
}

#top-message {
  position: fixed;
  top: 20px;
  font-size: 18px;
  color: white;
}
